doctype html
head
  include partes/cabecalho.pug
include partes/menu.pug
main
  article
    h1 Título
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, perspiciatis! Reiciendis, veritatis quidem! Modi, rem officiis! Ipsam, repellendus consequuntur eum inventore quasi hic, aut eligendi qui ipsa excepturi libero. Quo!
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, perspiciatis! Reiciendis, veritatis quidem! Modi, rem officiis! Ipsam, repellendus consequuntur eum inventore quasi hic, aut eligendi qui ipsa excepturi libero. Quo!
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, perspiciatis! Reiciendis, veritatis quidem! Modi, rem officiis! Ipsam, repellendus consequuntur eum inventore quasi hic, aut eligendi qui ipsa excepturi libero. Quo!
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, perspiciatis! Reiciendis, veritatis quidem! Modi, rem officiis! Ipsam, repellendus consequuntur eum inventore quasi hic, aut eligendi qui ipsa excepturi libero. Quo!
    p
      ul
        li algum item
include partes/rodape.pug
