doctype html
head
  include partes/cabecalho.pug

include partes/menu.pug

main
  h1 sobre n&oacute;s
  p somos um pequeno jornal local e bem pobre que sobrevive de doa&ccedil;&otilde;es

include partes/rodape.pug
